@import '../../assets/styles/colors';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 48px;
    padding: 0 12px;

    h3 {
        font-size: 1.25rem;
        color: $brand_color_black;
        margin: 0;
    }

    ul {
        display: flex;
        align-items: center;

        li {
            padding: 0 12px;

            a:hover {
                color: $brand_color;
            }
        }
    }
}