@import '../../assets/styles/colors';

.personaContent {
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    a {
        font-size: 14px;
        transition: .2s;

        &:hover {
            color: $brand_color;
        }
    }

    .mainInfo {
        margin-bottom: 24px;
        p {
            margin-bottom: 8px;
        }
    }

    .slogan {
        font-style: italic;
        text-align: center;
        margin: 0 48px;
        margin-top: 24px;

        background-color: rgba($white, .2);
        padding: 12px 32px;
        border-radius: 6px;
        font-size: 12px;
    }

    p {
        margin: 0;
        font-size: 14px;
    }
    
    h4 {
        font-size: 18px;
    }

    .objectives {
        ul {
            margin-bottom: 16px;
            list-style: circle;
            padding-left: 12px;

            li {
                margin-bottom: 8px;
            }
        }
    }

    .problemContainer {
        margin-top: 40px;
        p {
            margin-bottom: 12px;
        }

        .tasks {
            margin-top: 20px;
            margin-bottom: 40px;
            margin-left: 16px;
        }

        .methods {
            margin-left: 20px;
        }

        .operator {
            margin-left: 40px;
        }
    }
}